/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #00bfff;
$light: #faf5fe;

$headings-font-weight: 300 !important;
$a: #7711d0;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/reboot';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.custom-classname.btn-primary {
  background-color: green;
}
/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */
.elrond-logo {
  width: 85px;
  height: 25px;
}

.deadbrothers-logo {
  width: 25px;
  height: 25px;
}

.dapp-name {
  line-height: 1;
  border-left: 1px solid $gray-400;
  padding-left: 3px;
  margin-left: 4px;
}

@media only screen and (max-width: 767px) {
  .linkText {
    display: none;
  }

  .dapp-name {
    display: none;
  }
}

.navdropdown-right {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}


/* Dashboard
-------------------------------------------------- */


/*
 *  NFT Image effect
 */
 .nft {
  color: hsla(0, 0%, 100%, 0.8);
  position: relative;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.nft div {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.8s;
}

.nft .back {
  outline: 1px solid transparent;
  background: $primary;
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotatey(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotatey(-180deg);
}

.nft div.front {
  outline: 1px solid transparent;
  overflow: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  background: $primary;
}

.nft:hover .back {
  cursor: zoom-in;
  transform: rotatey(0);
  -webkit-transform: rotatey(0);
}

.nft:hover div.front {
  cursor: zoom-in;
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}

.back span, .back h4 {
  display: block;
  color: $light;
  word-wrap: break-word;
  text-align: center;
}

.back h4 {
  padding-top: 1em;
}

.nft, .nft div, .nftImg {
  height: 222px;
  width: 222px;
}

.nftStakedDiv {
  background-color: $light;
}

.nftStakedImg {
  height: 111px;
  width: 111px;
}

.nft-stake, .nft-stake div, .nftStakeImg {
  height: 111px;
  width: 111px;
}

.running-on {
  color: green;
}

.running-off {
  color: red;
}

// Address link

.addressLink {
  color: $white;
  &:hover {
    color: $white;
  }
}

.tooltip-inner {
  background-color: $primary !important; /* Set box color to red */
  color: $white !important; /* Set text color to black */
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $primary; /* Set arrow color to red */
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $primary; /* Set arrow color to red */
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $primary; /* Set arrow color to red */
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $primary; /* Set arrow color to red */
}

.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0 7px;

  button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {
    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }
      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }
      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }
      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td,
    tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;

    a {
      color: $black;

      &:hover {
        color: $black;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: #c00;
        }
      }
    }
  }
}

.dapp-core-ui-component .btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
}

.dapp-core-ui-component .btn-primary:hover,
.dapp-core-ui-component .btn-primary:focus {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  opacity: 0.9 !important;
}

.dapp-core-ui-component .btn-primary:active {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  opacity: 0.8 !important;
}
